@import "tailwindcss";

/* @theme{
  --font-poppins : "Poppins",
  --font-inter : "Inter";
  --font-pacifico : "Pacifico"
  --font-montserrat : "Montserrat";
} */

:root{
  --font-poppins : "Poppins",
  --font-inter : "Inter";
  --font-pacifico : "Pacifico"
  --font-montserrat : "Montserrat";
  overflow-x : hidden;
}


.page-1{
  position: relative;
  overflow: hidden;
  animation : fade-out linear forwards;
  animation-timeline: view();
  animation-range : exit();
}

.page-1.animate {
  animation-play-state: running;
}

.app-name{
  font-family : "Pacifico";
  animation: fade-in 1s ease-out forwards;
  transform: scale(0);
  opacity: 0;
  animation-delay: 0.2s;
}

.app-tagline{
  font-family : "Montserrat";
  font-weight : 25px;
  animation: fade-in 1s ease-out forwards;
  transform: scale(0);
  opacity: 0;
  animation-delay: 0.4s;
}

.search{
  animation: fade-in 1s ease-out forwards;
  transform: scale(0);
  opacity: 0;
  animation-delay: 0.6s;
}

.app-button{
  animation: fade-in 1s ease-out forwards;
  transform: scale(0);
  opacity: 0;
  animation-delay: 0.8s;


}

.cardhov:hover > .card-info{
  color : white;
  

}

.cardhov:hover > .card-name{
  color : transparent;
}
.card-name{
  color : white;
  font-family : "Poppins";

}

.card-info{
  font-family : "Poppins";

}

@keyframes fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}